body {
    overflow: hidden;
}

.center {
    width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tui, #tui-head {
    padding: 10px;

    line-height: 8px;
    width: auto;
    user-select: none;
    white-space: pre;
}

#tui {
    padding: 0px 10px;
}